.navbar-wrapper {
}

body {
    border-top: 10px solid #000000;
}

.jumbotron {
    background: #0000ff url("/Images/banner.jpg") no-repeat top center;
}
.cover-pic {
    margin: 30px;
    padding: 30px;
    background: url("../Images/banner.jpg");
    min-height: 300px;

}
.content-wrapper {

}