@{
    ViewBag.Title = "Create";
}

<div class="container">

    @using (Html.BeginForm())
    {

        <fieldset>
            <legend>Fields</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Message) %>
            </div>
            <div class="editor-field">
                @ Html.TextBoxFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id) 
            </div>
        </fieldset>
    }
</div>
